
/*********************************
 Home
*********************************/

.home
{
	width: 100%;
	height: 206px;
}
.home_container
{
	position: absolute;
	bottom: 79px;
	left: 0;
	width: 100%;
}
.home_content
{
	text-align: center
}
.home_title
{
	display: inline-block;
    height: 54px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
	background: #404040;
	padding:3px;
	top: 42px;
	
}

