@charset "utf-8";


@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,900');

/*********************************
Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 2.14;
	font-weight: 400;
	color: #838383;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	/* border-bottom: solid 1px #ffa07f; */
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	/* background: #ffa07f; */
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #FEAA26;
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #000000;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.section{
	width: 100%;
	padding-top: 99px;
	padding-bottom: 102px;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 78px;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	width: 110px;
	height: 37px;
	background: #FEAA26;
	overflow: hidden;
	font-weight: 600;
}
.button a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}
.button a span
{
	font-size: 11px;
	font-weight: 500;
	color: #000000;
	line-height: 54px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	white-space: nowrap;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.button a span:first-child
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.button a span:last-child
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	top: 100%;
	font-size: 9px;
	opacity: 0;
}
.button:hover a span:first-child
{
	top: -10%;
	font-size: 9px;
	opacity: 0;
}
.button:hover a span:last-child
{
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 11px;
	opacity: 1;
}
.button_2
{
	background: #000000;
}
.button_2 a span
{
	color: #404040;
}
.section_title
{
	font-size: 36px;
	font-weight: 600;
	color: #ffac37;;
	line-height: 0.75;
}
.section_subtitle
{
	font-size: 11px;
	font-weight: 600;
	color: #838383;
	line-height: 1.75;
	/* letter-spacing: 0.2em; */
	text-transform: uppercase;
	margin-top: 23px;
	max-width: 1000px;
}

/*********************************
Header
*********************************/
.logo{
	width:88px;
	height: 88px;
}
.header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #FFFFFF;
	z-index: 100;
}
.header.scrolled
{
	position: fixed;
	top: -91px;
	left: 0;
}
.logo_header{
    margin-top: 52px;
    height: 115px;
    width: 115px;
}
.header_top
{
	width: 100%;
	z-index: 2;
	display: none
}
.header_top_content
{
	height: 91px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.btn-header-auth{
	color:#868e96;
	background-color:transparent;
	background-image:none;
	border-color:#868e96
}
.btn-auth-active{
	border-color:#ffac34 !important;
}
.btn-header-auth:hover{
	color:#fff;
	border-color:#ffac34
}	

.logo a
{
	line-height: 0.75;
	color: #404040;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.logo a span
{
	position: relative;
	font-size: 36px;
	color: #FEAA26;
	line-height: 0.75;
	vertical-align: text-top;
}
.header_top_nav ul li
{
	position: relative;
}
.header_top_nav ul li:not(:last-child)::after
{
	content: '|';
	margin-left: 12px;
	margin-right: 12px;
}
.header_top_nav ul li a
{
	font-size: 14px;
	font-weight: 500;
	color: #838383;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header_top_nav ul li a:hover
{
	color: #FEAA26;
}
.header_top_phone
{
	margin-left: 44px;
}
.header_top_phone i
{
	font-size: 22px;
	/* color: #FEAA26; */
	vertical-align: middle;
	transform: translateY(-1px);
}
.header_top_phone span
{
	font-size: 16px;
	font-weight: 600;
	color: #797575;
	margin-left: 3px;
	vertical-align: middle;
}
.hamburger
{
	display: none;
	cursor: pointer;
}
.hamburger i
{
	font-size: 18px;
	color: #4c4c4c;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger i:hover
{
	color: #329fec;
}
.header_nav
{
	z-index: 2;
}
.header_nav_inner
{
	width: 100%;
}
.header_nav_container
{
	z-index: 1;
	background: transparent !important;
}
.header_nav_content
{
	height: 78px;
}
.main_nav
{
	height: 100%;
}
.main_nav ul
{
	height: 100%;
}
.main_nav ul li
{
	position: relative;
}
.main_nav ul li:not(:last-child)
{
	margin-right: 9px;
}
/* .li_mr-13
{
	margin-right: 13px;
}
.li_mr-9
{
	margin-right: 9px;
} */
.main_nav ul li a
{
	display: block;
	position: relative;
	height: 100%;
	font-size: 12px;
	font-weight: 600;
	color: #000000;
	z-index: 1;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav ul li a:hover,
.main_nav ul li.active a
{
	color: #ffab35;
}
.search_content
{
	height: 60px;
}
.search_container_form
{
	position: relative;
	width: 337px;
}
.search_container_input
{
	width: 100%;
	height: 37px;
	border: none;
	outline: none;
	padding-left: 20px;
}
.search_container_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.search_container_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.search_container_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
} 
.search_container_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.search_container_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.search_container_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 37px;
	height: 37px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #FFFFFF;
}
.header_search
{
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	cursor: pointer;
}
.header_search i
{
	color: #4c4c4c;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header_search:hover i
{
	color: #329fec;
}



/*********************************
Menu
*********************************/

.menu
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(50,198,154,0.95);
	z-index: 101;
	opacity: 0;
	visibility: hidden;
}
.menu.active
{
	opacity: 0.98;
	visibility: visible;
}
.menu_content
{
	width: 100%;
	height: 100%;
}
.menu_content ul
{
	margin-top: 40px;
}
.menu_item
{
	position: relative;
	margin-bottom: 3px;
}
.menu_item:last-child
{
	margin-bottom: 0px;
}
.menu_item a
{
	display: inline-block;
	position: relative;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 600;
}
.menu_item a::after
{
	display: block;
	position: absolute;
	top: 52%;
	left: 0;
	width: 0;
	height: 4px;
	background: #FFFFFF;
	letter-spacing: 2px;
	content: '';
	z-index: 10;
	pointer-events: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 400ms ease;
}
.menu_item:hover a::after
{
	width: 100%;
}
.menu_close_container
{
	position: absolute;
	top: 94px;
	right: 122px;
	width: 21px;
	height: 21px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu_close
{
	top: 9px;
	width: 21px;
	height: 3px;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close::after
{
	display: block;
	position: absolute;
	top: -9px;
	left: 9px;
	content: '';
	width: 3px;
	height: 21px;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after
{
	background: rgba(255,255,255,0.7);
}
.menu_search_form
{
	position: relative;
	width: 300px;
}
.menu_search_input
{
	width: 100%;
	height: 40px;
	background: rgba(255,255,255,0.9);
	border: none;
	outline: none;
	padding-left: 20px;
}
.menu_search_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.menu_search_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.menu_search_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
} 
.menu_search_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.menu_search_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.menu_search_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	background: transparent;
	border: none;
	outline: none;
}
.menu_social
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 15px;
}
.menu_social ul
{
	display: inline-block;
	margin-left: 25px;
	white-space: nowrap;
}
.menu_social ul li
{
	display: inline-block;
}
.menu_social ul li:not(:last-child)
{
	margin-right: 15px;
}
.menu_social ul li a i
{
	color: rgba(255,255,255,0.7);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	padding: 5px;
}
.menu_social ul li a i:hover
{
	color: rgba(255,255,255,1);
}

/*********************************
CONTACT 
*********************************/
.contact_title
{
	font-size: 24px;
	font-weight: 600;
	color: #ffffff;
	line-height: 0.75;
}
.contact_form_container
{
	margin-top: 31px;
}
.contact_form input:not(:last-child)
{
	margin-bottom: 25px;
}
.contact_input
{
	display: block;
	width: 100%;
	height: 51px;
	background: #e5ecf1;
	border: none;
	outline: none;
	border-left: solid 3px transparent;
	padding-left: 35px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_input:focus,
.contact_input:hover
{
	border-left: solid 3px #feaa26;
}
.contact_textarea
{
	width: 100%;
	height: 192px;
	padding-top: 17px;
	margin-bottom: 0;
}
.contact_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.contact_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.contact_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
} 
.contact_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.contact_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.contact_button
{
	width: 100%;
	height: 54px;
	background: #feaa26;
	border: none;
	outline: none;
	color: #000000;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	cursor: pointer;
	margin-top: 28px;
}

.row-contact{
	padding: 20px
}
.contact_bullet li{
	list-style-type: circle;
	color: #404040;
	font-size: 16px;
}
.contact_p a{
	color:#FFAB31;
	text-decoration: none
}
.phone_care{
	height: 50px;
}
.phone_care_ul li a{
	color:#78bb40 !important;
	

}
.phone_care_ul li{
	list-style-type: circle;
}
/*********************************
Footer
*********************************/
.footer_nav ul li.active a
{
	color: #ffab35;
}
.footer
{
	display: block;
	position: relative;
	width: 100%;
	padding-top: 64px;
}
.footer_content
{
	padding-bottom: 100px;
}
.footer_about
{
	padding-top: 34px;
}
.footer .logo a
{
	color: #FFFFFF;
}
.footer_about_text
{
	font-size: 14px;
	font-weight: 500;
	color: #d3d3d3;
	line-height: 2.14;
	margin-top: 39px;
}
.footer_social
{
	margin-top: 30px;
}
.footer_social ul li:not(:last-child)
{
	margin-right: 30px;
}
.footer_social ul li a i
{
	color: #FFFFFF;
}
.copyright
{
	font-size: 12px;
	font-style: italic;
	color: rgba(255,255,255,0.48);
	margin-top: 54px;
}
.footer_contact
{
	padding-top: 35px;
}
.footer_contact_title
{
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
}
.footer_contact_form_container
{
	margin-top: 43px;
}
.footer_contact_form div input
{
	width: calc((100% - 12px) / 2);
}
.footer_contact_input
{
	width: 100%;
	height: 47px;
	background: #6a6d72;
	border: none;
	outline: none;
	padding-left: 20px;
	margin-bottom: 15px;
	color: #FFFFFF;
	font-weight: 500;
}
.footer_contact_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
} 
.footer_contact_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_textarea
{
	height: 98px;
	padding-top: 15px;
}
.footer_contact_button
{
	width: 275px;
	height: 54px;
	background: #FEAA26;
	border: none;
	outline: none;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin-top: -5px;
}
.footer_hours
{
	background: rgba(22,22,23,0.61);
	padding-left: 27px;
	padding-top: 35px;
	padding-bottom: 60px;
	padding-right: 30px;
}
.footer_hours_title
{
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
}
.hours_list
{
	margin-top: 47px;
}
.hours_list li div
{
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
}
.hours_list li:not(:last-child)
{
	margin-bottom: 27px;
}
.footer_bar
{
	width: 100%;
	background: rgba(18,17,17,0.66);
}
.footer_bar_content
{
	width: 100%;
	height: 51px;
}
.footer_nav ul li:not(:last-child)
{
	margin-right: 64px;
}
.footer_nav ul li a
{
	font-size: 11px;
	font-weight: 500;
	color: #a0a1a1;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav ul li a:hover
{
	color: #FEAA26;
}
.footer_links
{
	margin-left: 84px;
}
.footer_links ul li
{
	position: relative;
}
.footer_links ul li:not(:last-child)::after
{
	content: '|';
	margin-left: 9px;
	margin-right: 9px;
}
.footer_links ul li a
{
	font-size: 11px;
	font-weight: 500;
	color: #a0a1a1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_links ul li a:hover
{
	color: #FEAA26;
}
.footer_phone span
{
	font-size: 14px;
	font-weight: 600;
	color: #FEAA26;
}
.footer_phone i
{
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	color: #FEAA26;
}

.content_services  a {
	border:none !important;
	color:#FEAA26
}
.content_services  a:hover{
	background: none !important;
	text-decoration: underline;
}
.hide_element{
	display: none;
}
.show_element{
	display: block;
}
/*********************************
Info Boxes
*********************************/

.info
{
	width: 100%;
	background: #f4f8fb;
	padding-top: 100px;
	padding-bottom: 100px;
}
.info_box
{
	width: 100%;
	background: #f4f8fb;
}
.info_image
{
	width: 100%;
}
.info_image img
{
	max-width: 100%;
}
.info_content
{
	padding-left: 38px;
	padding-top: 46px;
	padding-right: 20px;
	padding-bottom: 31px;
}
.info_title
{
	font-size: 20px;
	font-weight: 600;
	color: #404040;
}
.info_text
{
	font-size: 14px;
	font-weight: 500;
	color: #838383;
	line-height: 1.95;
	margin-top: 14px;
}
.info_button
{
	margin-top: 26px;
}
.info_form_container
{
	width: 100%;
	background: #e5ecf1;
	height: 100%;
	padding-left: 43px;
	padding-top: 50px;
}
.info_form_title
{
	font-size: 24px;
	font-weight: 600;
	color: #404040;
	line-height: 1.2;
}
.info_form
{
	width: 100%;
	padding-right: 44px;
	margin-top: 43px;
}
.info_form select
{
	margin-bottom: 26px;
}
.info_form input:not(:last-child)
{
	margin-bottom: 23px;
}
.info_input
{
	display: block;
	position: relative;
	width: 100%;
	height: 47px;
	background: #FFFFFF;
	padding-left: 20px;
	border: none;
	outline: none;
}
.info_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
}
.info_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
}
.info_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
} 
.info_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
}
.info_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
}
.info_select
{
	display: block;
	position: relative;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    background-image: url(../images/down.png);
    background-position: center right;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
    cursor: pointer;
}
.info_form_button
{
	width: 100%;
	height: 54px;
	background: #DC3545;
	border: none;
	outline: none;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 0.2em;
	margin-top: 4px;
	cursor: pointer;
}

/*********************************
Call To Action
*********************************/

.cta
{
	width: 100%;
	padding-top: 77px;
	padding-bottom: 74px;
}
.cta_content
{
	width: 100%;
}
.cta_title
{
	font-size: 30px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.2;
}
.cta_subtitle
{
	font-size: 14px;
	font-weight: 500;
	color: rgba(255,255,255,0.76);
	line-height: 1.5;
	margin-top: 14px;
}
.cta_button
{
	width: 141px;
	margin-top: 7px;
}
/*********************************
HOME 2nd section
*********************************/

/* .icon_img{
	filter: brightness(90%);
    filter: opacity(30%);
} */
/* .icon_img:hover { */
    /* filter: inherit; */
    /*filter: brightness(90%);*/
/* } */
.aplncs:hover{
	color:#FFAB36
}
.aplncs_img:hover{
	box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.desc_aplncs{
	color:#404040;
	font-weight: bold;
}
/* #aircon:hover{
	content:url(../images/air-conditioner_hover.png)
}
#fridge:hover{
	content:url(../images/fridge_hover.png)
}
#washing_machine:hover{
	content:url(../images/washing-machine_hover.png)
	
}
#heater:hover{
	content:url(../images/water-heater_hover.png)

} */
.appliances
{
	width: 100%;
	padding-bottom: 50px; 
}

.transparent_price_input
{
	display: block;
	width: 100%;
	height: 51px;
	background: #e5ecf1;
	border: none;
	outline: none;
	border-left: solid 3px transparent;
	padding-left: 35px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.transparent_price_input:focus,
.transparent_price_input:hover
{
	border-left: solid 3px #feaa26;
}
.transparent_price_textarea
{
	width: 100%;
	height: 192px;
	padding-top: 17px;
	margin-bottom: 0;
}
.transparent_price_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.transparent_price_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.transparent_price_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
} 
.transparent_price_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.transparent_price_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.display-transparent-price{
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
				 box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(255, 255, 255, 0.1) inset;
				 border:1px solid #ddd;
}

.display-transparent-price:before, .display-transparent-price:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.display-transparent-price:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
/*********************************
Services
*********************************/

.icon_boxes_row
{
	margin-top: 50px;
}
.icon_box
{
	margin-bottom: 85px;
}
.icon_box_icon
{
	width: auto;
	/* height: 49px; */
	text-align: center;
    margin: 0 auto;
}
.icon_box_icon img
{
	max-width: 100%;
}
.icon_box_title
{
	font-size: 20px;
	font-weight: 600;
	color: #404040;
	/* padding-left: 25px; */
	text-align: center;
	
}
.icon_box_text
{
	font-size: 16px;
	font-weight: 500;
	color: #404040;
	line-height: 2.14;
	margin-top: 21px;
}
.services_button
{
	margin-top: 4px;
}

/*********************************
how it works
*********************************/
.icon_box_icon_how_it_works{
	width: auto;
	/* height: 100px; */
	/* text-align: center; */
    margin: 0 auto;
}
.icon_box_title_how_it_works
{
	font-size: 20px;
	font-weight: 600;
	color: #404040;
	text-align:right
	/* padding-left: 25px; */
	/* text-align: center; */
	
}
.icon_box_icon_how_it_works img
{
	max-width: 100%;
}
.main_how_it_works{
	text-align: right
}
.how_it_works_title{
	margin-bottom: 40px
}
.row_how_it_works{
	margin-bottom: 40px
}
.title_desc{
    font-size: 27px;
    color: #ffab36;
}
.we_serve_image:hover{
	box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.we_serve_a{
	border:none;
}
.we_serve_a:hover{
	background: none;
}
/*********************************
Departments
*********************************/

.departments
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 99px;
	padding-bottom: 52px;
}
.dept_row
{
	margin-top: 100px;
}
.owl-carousel .owl-stage-outer
{
	overflow: visible;
}
.dept_slider_container
{
	overflow: hidden;
    width: calc(100% + 60px);
    left: -30px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
.dept_item
{
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.dept_item:hover
{
	box-shadow: 0px 20px 46px rgba(0,0,0,0.1);
	background: #f4f8fb;
}
.dept_image::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background: rgba(0,0,0,0);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.dept_item:hover .dept_image::after
{
	background: rgba(0,0,0,0.49);
}
.dept_content
{
	padding-left: 28px;
	padding-top: 21px;
	padding-bottom: 23px;
}
.dept_content::after
{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background: #DC3545;
	content: '';
}
.dept_title
{
	font-size: 20px;
	font-weight: 600;
	color: #404040;
}
.dept_link
{
	margin-top: 4px;
}
.dept_link a
{
	font-size: 12px;
	font-weight: 500;
	color: #838383;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.dept_link a:hover
{
	color: #DC3545;
}
.dept_slider_nav
{
	position: absolute;
	top: calc(50% - 25px);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -106px;
	width: 42px;
	height: 42px;
	background: #DC3545;
	text-align: center;
	cursor: pointer;
}
.dept_slider_nav i
{
	font-size: 16px;
	color: #FFFFFF;
	line-height: 42px;
}


/*********************************
Footer
*********************************/

.footer
{
	display: block;
	position: relative;
	width: 100%;
	padding-top: 64px;
}
.footer_content
{
	padding-bottom: 100px;
}
.footer_about
{
	padding-top: 34px;
}
.footer .logo a
{
	color: #FFFFFF;
}
.footer_about_text
{
	font-size: 14px;
	font-weight: 500;
	color: #d3d3d3;
	line-height: 2.14;
	margin-top: 39px;
}
.footer_social
{
	margin-top: 30px;
}
.footer_social ul li:not(:last-child)
{
	margin-right: 30px;
}
.footer_social ul li a i
{
	color: #FFFFFF;
}
.copyright
{
	font-size: 12px;
	font-style: italic;
	color: rgba(255,255,255,0.48);
	margin-top: 54px;
}
.footer_contact
{
	padding-top: 35px;
}
.footer_contact_title
{
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
}
.footer_contact_form_container
{
	margin-top: 43px;
}
.footer_contact_form div input
{
	width: calc((100% - 12px) / 2);
}
.footer_contact_input
{
	width: 100%;
	height: 47px;
	background: #6a6d72;
	border: none;
	outline: none;
	padding-left: 20px;
	margin-bottom: 15px;
	color: #FFFFFF;
	font-weight: 500;
}
.footer_contact_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
} 
.footer_contact_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.footer_contact_textarea
{
	height: 98px;
	padding-top: 15px;
}
.footer_contact_button
{
	width: 275px;
	height: 54px;
	background: #DC3545;
	border: none;
	outline: none;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin-top: -5px;
}
.footer_hours
{
	background: rgba(22,22,23,0.61);
	padding-left: 27px;
	padding-top: 35px;
	padding-bottom: 60px;
	padding-right: 30px;
}
.footer_hours_title
{
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
}
.hours_list
{
	margin-top: 47px;
}
.hours_list li div
{
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
}
.hours_list li:not(:last-child)
{
	margin-bottom: 27px;
}
.footer_bar
{
	width: 100%;
	background: rgba(18,17,17,0.66);
}
.footer_bar_content
{
	width: 100%;
	height: 51px;
}
.footer_nav ul li:not(:last-child)
{
	margin-right: 20px;
}
.footer_nav ul li a
{
	font-size: 11px;
	font-weight: 500;
	color: #a0a1a1;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav ul li a:hover
{
	color: #feaa26;
}
.footer_links
{
	margin-left: 84px;
}
.footer_links ul li
{
	position: relative;
}
.footer_links ul li:not(:last-child)::after
{
	content: '|';
	margin-left: 9px;
	margin-right: 9px;
}
.footer_links ul li a
{
	font-size: 11px;
	font-weight: 500;
	color: #a0a1a1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_links ul li a:hover
{
	color: #DC3545;
}
.footer_phone span
{
	font-size: 14px;
	font-weight: 600;
	color: #feaa26;
}
.footer_phone i
{
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	color: #feaa26;
}

/*********************************
technicians
*********************************/

.technicians
{
	width: 100%;
	background: #f4f8fb;
	padding-top: 97px;
	padding-bottom: 210px;
}

.select2{
	width:100% !important;
	
}
.select2-selection.select2-selection--single {
    height: 39px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 39px !important;
}
.select2-container--default .select2-selection--single{
	border: 1px solid #ced4da !important;
}
.technicians_row
{
	margin-top: 100px;
}
.technician
{
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 50px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.technician::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: solid 4px #FEAA26;
	background: transparent;
	content: '';
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.technician:hover::after
{
	visibility: visible;
	opacity: 1;
}
.technician:hover
{
	box-shadow: 0px 38px 46px rgba(0,0,0,0.3);
	background: #f4f8fb;
}
.technician_image
{
	width: 100%;
}
.technician_image img
{
	max-width: 100%;
}
.technician_content
{
	width: 100%;
	padding-left: 29px;
	padding-top: 29px;
	padding-bottom: 29px;
}
.technician_content::after
{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background: #FEAA26;
	content: '';
}
.technician_name
{
	line-height: 0.75;
}
.technician_name a
{
	font-size: 20px;
	font-weight: 600;
	color: #404040;
	line-height: 0.75;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.technician_name a:hover
{
	color: #FEAA26;
}
.technician_title
{
	font-size: 12px;
	font-weight: 500;
	color: #838383;
	line-height: 0.75;
	margin-top: 17px;
}
.technician_link
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 33px;
	height: 34px;
	background: #FEAA26;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.technician_link a
{
	display: block;
	line-height: 34px;
	font-size: 30px;
	color: #000000;
}
.technician:hover .technician_link
{
	visibility: visible;
	opacity: 1;
}
.technicians_button
{
	width: 181px;
	margin-top: 50px;
}
.technicians_image
{
	position: absolute;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}



/*********************************
About
*********************************/

.about
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 100px;
	padding-bottom: 113px;
}
.about_row
{
	margin-top: 89px;
}
.about_text_highlight
{
	font-size: 16px;
	font-weight: 700;
	color: #404040;
	margin-top: 28px;
}
.about_text
{
	margin-top: 13px;
}
.about_image
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 25px;
}
.about_button
{
	margin-top: 49px;
}

/*********************************
Milestones
*********************************/

.milestones
{
	width: 100%;
	background: #f5f6f8;
	padding-top: 88px;
	padding-bottom: 93px;
}
.milestone
{
	width: 100%;
}
.milestone_icon
{
	display: inline-block;
	height: 65px;
	width: 65px;
}
.milestone_icon img
{
	max-width: 100%;
}
.milestone_content
{
	padding-left: 29px;
}
.milestone_counter
{
	font-size: 48px;
	font-weight: 600;
	color: #404040;
	line-height: 0.75;
}
.milestone_text
{
	font-size: 16px;
	font-weight: 600;
	color: #c1c1c1;
	margin-top: 12px;
	line-height: 1.2;
}


/*********************************
Boxes
*********************************/

.boxes
{
	width: 100%;
}
.box
{
	width: calc(100% / 3);
	padding-top: 79px;
	padding-left: 90px;
	padding-bottom: 64px;
	padding-right: 30px;
}
.box_title
{
	font-size: 30px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.2;
}
.box_subtitle
{
	font-size: 11px;
	font-weight: 600;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 0.75;
	margin-top: 16px;
	padding-left: 1px;
}
.box_text
{
	margin-top: 60px;
	font-size: 14px;
	font-weight: 500;
	color: rgba(255,255,255,0.66);
	line-height: 2.14;
	padding-left: 3px;
}
.box_button
{
	margin-top: 77px;
}

/*********************************
Tabs
*********************************/

.tabs_container
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 100px;
	padding-bottom: 97px;
}
.tab
{
	width: 100%;
	padding-left: 29px;
	padding-top: 23px;
	padding-bottom: 25px;
	padding-right: 29px;
	background: #f8fafc;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab:not(:last-child)
{
	margin-bottom: 2px;
}
.tab::after
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 6px;
	height: 100%;
	content: '';
	background: #dfdfdf;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab:hover::after,
.tab.active::after
{
	background: #404040;
}
.tab:hover,
.tab.active
{
	background: #FEAA26;
}
.tab:hover .tab_title,
.tab:hover .tab_text,
.tab.active .tab_title,
.tab.active .tab_text
{
	color: #FFFFFF;
}
.tab_panel
{
	display: none !important;
	width: 100%;
	height: 100%;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tab_panel.active
{
	display: block !important;
}
.tab_list
{
	padding-top: 31px;
}
.tab_list ul li:not(:last-child)
{
	margin-bottom: 41px;
}
.tab_image
{
	width: 100%;
}
.tab_image img
{
	max-width: 100%;
}
.tab_title
{
	font-size: 20px;
	font-weight: 700;
	color: #404040;
	line-height: 1.2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab_text
{
	font-size: 14px;
	font-weight: 500;
	color: #b1b1b1;
	margin-top: 7px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab_list_title
{
	font-size: 20px;
	font-weight: 600;
	color: #404040;
}
.tab_list_text
{
	margin-top: 8px;
}

/*********************************
Contact
*********************************/

.contact
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 100px;
	padding-bottom: 42px;
	z-index: 2;
}

.info_form_container
{
	width: 100%;
	background: #e5ecf1;
	height: 100%;
	padding-left: 43px;
	padding-top: 50px;
	padding-bottom: 54px;
}
.info_form_title
{
	font-size: 24px;
	font-weight: 600;
	color: #404040;
	line-height: 1.2;
}
.info_form
{
	width: 100%;
	padding-right: 44px;
	margin-top: 43px;
}
.info_form select
{
	margin-bottom: 26px;
}
.info_form input:not(:last-child)
{
	margin-bottom: 23px;
}
.info_input
{
	display: block;
	position: relative;
	width: 100%;
	height: 47px;
	background: #FFFFFF;
	padding-left: 20px;
	border: none;
	outline: none;
}
.info_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
}
.info_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
}
.info_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
} 
.info_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
}
.info_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
}
.info_select
{
	display: block;
	position: relative;
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    background-image: url(../images/down.png);
    background-position: center right;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #828282 !important;
    cursor: pointer;
}
.info_form_button
{
	width: 100%;
	height: 54px;
	background: #FEAA26;
	border: none;
	outline: none;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 0.2em;
	margin-top: 4px;
	cursor: pointer;
}
.contact_info
{
	/* position: absolute; */
	left: 15px;
	top: calc(100% + 42px);
	width: calc(100% - 30px);
	background: #FFFFFF;
	padding-top: 33px;
	padding-bottom: 62px;
	border-bottom: solid 4px #FEAA26;
	box-shadow: 0px 71px 81px rgba(4,4,4,0.09);
}
.contact_info_title
{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 24px;
	font-weight: 600;
	color: #404040;
	line-height: 0.75;
}
.contact_info_list
{
	margin-top: 40px;
	padding-top: 58px;
}
.contact_info_list ul li
{
	font-size: 14px;
	font-weight: 500;
	color: #828282;
}
.contact_info_list ul li:not(:last-child)
{
	margin-bottom: 16px;
}
.contact_info_list ul li span
{
	color: #404040;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000000  !important;
    background-color: #feaa26 !important;
    border-color: #ddd #ddd #fff !important;
}
.active > a{
	color: #feaa26 !important;
}
.nav-tabs a{
	color:#4c4848  !important
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color:#feaa26 !important;
	background-color: #feaa26 !important;
	color:#000000
}

/*********************************
Google Map
*********************************/

.contact_map
{
	width: 100%;
	height: 752px;
	margin-top: 125px;
	z-index: 1;
}
.map
{
	width: 100%;
	height: 100%;
}
.google_map
{
	width: 100%;
	height: 100%;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}
/*********************************
login
*********************************/

.login
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 100px;
	padding-bottom: 42px;
	z-index: 2;
}


.login_info
{
	position: inherit;
	left: 15px;
	top: calc(100% + 42px);
	width: calc(100% - 30px);
	background: #FFFFFF;
	padding-top: 33px;
	padding-bottom: 62px;
	border-bottom: solid 4px #FEAA26;
	box-shadow: 0px 71px 81px rgba(4,4,4,0.09);
}
.login_info_title
{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 24px;
	font-weight: 600;
	color: #404040;
	line-height: 0.75;
}
.login_info_list
{
	margin-top: 40px;
	padding-top: 58px;
}
.login_info_list ul li
{
	font-size: 14px;
	font-weight: 500;
	color: #828282;
}
.login_info_list ul li:not(:last-child)
{
	margin-bottom: 16px;
}
.login_info_list ul li span
{
	color: #404040;
}

@media only screen and (max-width: 991px){
	.nav-tabs a{
		font-size:16px;
	}
}

/* TESTIMONIAL */
.bg-dark{
	background-color: transparent !important;
}
.carousel-indicators{
	top: 300px;
}
.carousel-inner{
	margin: 0 auto !important
}
.testimonial_desc{
	max-width:500px;
	margin:0 auto !important;
}
.testimonial_img{
	margin:0 auto;
	width: 100px;
	height: 100px;
}

/* OUR PARTNERS */
h2{
	text-align:center;
	padding: 20px;
  }
  /* Slider */
  
  .slick-slide {
	  margin: 0px 20px;
  }
  
  .slick-slide img {
	  width: 100%;
  }
  
  .slick-slider
  {
	  position: relative;
	  display: block;
	  box-sizing: border-box;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
			  user-select: none;
	  -webkit-touch-callout: none;
	  -khtml-user-select: none;
	  -ms-touch-action: pan-y;
		  touch-action: pan-y;
	  -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
	  position: relative;
	  display: block;
	  overflow: hidden;
	  margin: 0;
	  padding: 0;
  }
  .slick-list:focus
  {
	  outline: none;
  }
  .slick-list.dragging
  {
	  cursor: pointer;
	  cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
	  -webkit-transform: translate3d(0, 0, 0);
		 -moz-transform: translate3d(0, 0, 0);
		  -ms-transform: translate3d(0, 0, 0);
		   -o-transform: translate3d(0, 0, 0);
			  transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
	  position: relative;
	  top: 0;
	  left: 0;
	  display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
	  display: table;
	  content: '';
  }
  .slick-track:after
  {
	  clear: both;
  }
  .slick-loading .slick-track
  {
	  visibility: hidden;
  }
  
  .slick-slide
  {
	  display: none;
	  float: left;
	  height: 100%;
	  min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
	  float: right;
  }
  .slick-slide img
  {
	  display: block;
  }
  .slick-slide.slick-loading img
  {
	  display: none;
  }
  .slick-slide.dragging img
  {
	  pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
	  display: block;
  }
  .slick-loading .slick-slide
  {
	  visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
	  display: block;
	  height: auto;
	  border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
	  display: none;
  }
  .gurantee_text{
	  font-size: 16px;
	  color:#404040;
	  margin-bottom: 40px !important;
  }
  .guarante_row{
	  margin-top: 50px
  }

  /* JOIN TECH */

/* second section */
.become_tech_title_desc{
	font-size: 27px;
	color: #ffab36;
	text-align:center
	
}
.mb-10{
	margin-bottom:10px;
}
.mb-30{
	margin-bottom:30px;
}
.mb-100{
	margin-bottom:100px;
}
.mb-0{
	margin-bottom: 0px;
}
.mt-100{
	margin-top:100px;
}
.mt-30{
	margin-top:30px;
}
.m-auto{
	margin: 0 auto;
}
.pt-0{
	padding-top:0px !important
}

.ml-20{
	margin-left:20px;
}
.advantages_text{
	max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    color: #404040;
}

/* BENIFITS */
.benefits_title_desc{
	font-size: 19px;
	color: #404040;
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
}

/* GET STARTED */

/* VIEW DUTY */
.view_duty_bullet{
	margin-left: 30px;
}
.view_duty_bullet li {
    list-style-type: circle;
    color: #404040;
    font-size: 18px;
}
.modal-header-view-duty{
	background-color: #ffac34;
	color:#ffffff;

}
.modal-header-view-duty h5{
	font-size:16px;
}

/* Technician benifiting */
.rounded{
	border-radius: 50% !important;
}
.position_desc{
	color:#404040;
	font-size: 14px
}

.odd{
	background: #f4f8fb;
}
.even{
	background: #ffffff;
}

/* JOIN TECH FORM */
/* The container */
.employed {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
  }
  
  /* Hide the browser's default radio button */
  .employed input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .employed:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .employed input:checked ~ .checkmark {
	background-color: #FFAC37;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .employed input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .employed .checkmark:after {
	   top: 9px;
	  left: 9px;
	  width: 8px;
	  height: 8px;
	  border-radius: 50%;
	  background: white;
  }
  .form-group label{
	  color:#404040;
  }

  .join_div{
	  margin: 0 auto;
		padding: 20px;
		border-radius: 10px;
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
				 box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
				 background-color: #0c5460;
	}

	.join_div:before, .join_div:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.join_div:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
	
.join-tech-label{
	color:#ffffff !important;
}


  .btn-messanger{
	  border-color:#1E88E5;
  }
  .btn-messanger span {
	  color:#404040
  }
  .aircon_text{
	font-size: 16px;
	color:#404040;
	margin-bottom: 40px !important;
	
  }
  .aircon_exp_title{
    border: 1px solid;
    background: #252321;
	color: #ffffff;
  }
  .aircon_exp_title h4{
	padding-top:10px
  }
  .aircon_exp_img{
	border: 1px solid;
    padding: 20px 0;
  }
  .aircon_tech_exp{
	font-size: 16px;
	color:#404040;
	margin-left:87px;
	margin-bottom: 40px !important;
	
  }

.pulse-btn {
    text-align: center;
    /* padding: 30px 0; */
}
.pulse-btn .btn:hover {
    /* font-size: 22px; */
    text-transform: uppercase;
    letter-spacing: 1px;
    /* padding: 0.5em 1.5em; */
    animation: pulse 1.5s cubic-bezier(0.66, 0.67, 0.83, 0.99) infinite;
}
@media (max-width: 767px) {
    .pulse-btn .btn {
        font-size: 16px;
        letter-spacing: normal;
        padding: 10px 15px;
    }
}


/* AUTH */
.auth_form_container
{
	margin-top: 31px;
}
.auth_form input:not(:last-child)
{
	margin-bottom: 25px;
}
.auth_input
{
	display: block;
	width: 100%;
	height: 51px;
	background: #e5ecf1;
	border: none;
	outline: none;
	border-left: solid 3px transparent;
	padding-left: 35px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.auth_input:focus,
.auth_input:hover
{
	border-left: solid 3px #feaa26;
}
.auth_textarea
{
	width: 100%;
	height: 192px;
	padding-top: 17px;
	margin-bottom: 0;
}
.auth_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: bold !important;
	font-style: italic;
	color: #ababab !important;
}
.auth_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.auth_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
} 
.auth_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #ababab !important;
}
.auth_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #404040 !important;
}
.auth_button
{
	width: 100%;
	height: 46px;
	background: #feaa26;
	border: none;
	outline: none;
	color: #0c5460;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	/* letter-spacing: 0.2em; */
	cursor: pointer;
	margin-top: 5px;
}

.auth
{
	width: 100%;
	background: #FFFFFF;
	margin-top: 120px;
	padding-bottom: 42px;
	z-index: 2;
}
#forgot-pwd{
	color:#ffffff;

}
#forgot-pwd:hover{
	color:#FFAC36;
	
}
.auth_title{
	color: #FFAC36;
    text-align: center;
    font-size: 30px;
}
.div-auth{
	padding: 20px;
		background-color: #0c5460;
		border-radius: 10px;
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
				 box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.div-auth:before, .div-auth:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.div-auth:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/* BOOKING */

.dropdown:hover>.dropdown-menu {
    display: block;
    margin-top: 10px;
    width: 210px;
    left: -33px;
  }
  
  .dropdown>.dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	  pointer-events: none;
  }
  .dropdown-item{
	  text-align: center;
	  width: 100%;
	  font-size: 14px;
	  padding: 2px;
	  z-index: 999999;
  }

  .dropdown-item:hover{
	font-weight: bold
  }

  .wizrad-header{
	color: #FFFFFF;
    height: 50px;
    background: #0C5460;
    padding-top: 14px;
  }
  .ul_bullet li{
	  list-style-type: circle;
	  font-size: 14px;
  }
  .dropdown-menu{
	  width: auto !important;
  }
  .header-book-tech-btn{
	font-size: 12px;
    font-weight: 600;
  }

  .btn-dark{
	  color:#404040;
  }
