
/*********************************
Home
*********************************/

.home
{
	width: 100%;
	height: 604px;
}
.home_container
{
	position: absolute;
	top: 38%;
	left: 0;
	width: 100%;
}
.home_content
{

}
.home_title
{
	font-size: 60px;
	font-weight: 600;
	color: #FFFFFF;
	/* max-width: 500px; */
	line-height: 1.2;
}
.home_text
{
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.875;
	max-width: 480px;
	/* margin-top: 25px; */
	margin:0 auto;
}
.home_button
{
	margin-top: 36px;
}

